#header_wrapper{
	min-width:1040px;
	top:0px;
	left:-5px;
	background-color: #c20a0a;
	position:fixed;
	height:59px;
	width:110%;
	margin-top: 0;
	z-index: 100;
	padding:10px;
}

#header_wrapper h1 {
	vertical-align: center;
	position: relative;
	margin-left: 20px;
	display:inline-block;
	top: -10px;
	font-size: 25px;
	font-family: Arial;
}

#header_wrapper h2 {
	font-family: Arial;
	font-weight: 300;
	position:relative;
	margin-left:24px;
	top:-33px;
	font-size:12px;
	font-style: italic;
}
#window {
	margin-top:100px;
}