#window1 .line {
	font-size: 20px;
}

#window1 #or {
	font-size:35px;
	font-weight: bold;
}

#window1 #vert-align {
	text-align:center;
	font-family: arial;
}

#window1 img {
	padding:20px;
}

#window1 #movie_pictures {
	padding-left:4%;
	padding-top:20%;
}

#window1 {
	height:100%;
	margin:auto;
	margin-top:-21%;
	background-image: url("background.jpg");
}