body {
	background-image: url("background.jpg");
}
#window1 {
	height:200%;
	margin:auto;
	margin-top:-21%;
	padding-bottom:10%;
	margin-left:-2%;
	margin-right:-2%;
}

#window1 h3 {
	font-family: arial;
	font-size:24pt;
	text-align: center;
}

#window1 #movie_pictures {
	padding-left:25px;
	padding-top:20%;
}

#window1 img {
	padding:20px;
}
#window1 p {
	font-family:arial;
	padding-left:15%;
	padding-right:15%;
	font-size:14pt;
}